In [1]:
import pandas as pd
import numpy as np

import os

import keras
import tensorflow
from tsfeatures import tsfeatures

Using TensorFlow backend.

In [2]:
# Set Project Working Directory
project_path = '/workspace/portfolio'

#os.getcwd()
os.chdir(project_path)

#os.environ
#pd.set_option('display.max_columns', None)

data_path = f"{project_path}/data"
data_path

'/workspace/portfolio/data'

In [3]:
# Data 

#https://www.kaggle.com/jeanmidev/smart-meters-in-london

all_files = os.listdir(data_path + "/hhblock_dataset/hhblock_dataset/")

df_from_each_file = (pd.read_csv(data_path + "/hhblock_dataset/hhblock_dataset/" + f, sep=',') for f in all_files)
df_merged   = pd.concat(df_from_each_file, ignore_index=True)

In [4]:
df_merged.head()

,LCLid,day,hh_0,hh_1,hh_2,hh_3,hh_4,hh_5,hh_6,hh_7,...,hh_38,hh_39,hh_40,hh_41,hh_42,hh_43,hh_44,hh_45,hh_46,hh_47
0,MAC000013,2012-06-22,0.127,0.113,0.076,0.109,0.120,0.096,0.113,0.148,...,0.086,0.154,0.121,0.102,0.131,0.121,0.082,0.096,0.127,0.126
1,MAC000013,2012-06-23,0.106,0.135,0.228,0.079,0.109,0.117,0.079,0.122,...,0.107,0.113,0.106,0.077,0.119,0.126,0.151,0.135,0.108,0.093
2,MAC000013,2012-06-25,0.099,0.119,0.169,0.136,0.109,0.090,0.132,0.131,...,0.140,0.135,0.134,0.106,0.131,0.169,0.170,0.141,0.163,0.137
3,MAC000013,2012-06-26,0.142,0.103,0.117,0.136,0.127,0.129,0.150,0.137,...,0.136,0.136,0.304,0.159,0.126,0.145,0.196,0.158,0.173,0.149
4,MAC000013,2012-06-27,0.126,0.128,0.175,0.163,0.119,0.103,0.128,0.141,...,0.170,0.144,0.098,0.183,0.316,0.190,0.121,0.176,0.158,0.146

In [5]:
df_merged.describe()

,hh_0,hh_1,hh_2,hh_3,hh_4,hh_5,hh_6,hh_7,hh_8,hh_9,...,hh_38,hh_39,hh_40,hh_41,hh_42,hh_43,hh_44,hh_45,hh_46,hh_47
count,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,...,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06,3.469352e+06
mean,1.793072e-01,1.692932e-01,1.519922e-01,1.380636e-01,1.279240e-01,1.216967e-01,1.170615e-01,1.142551e-01,1.132509e-01,1.157545e-01,...,3.210049e-01,3.208214e-01,3.157999e-01,3.099201e-01,3.000736e-01,2.876654e-01,2.663366e-01,2.422332e-01,2.144095e-01,1.872155e-01
std,3.088122e-01,3.291034e-01,2.980318e-01,2.655244e-01,2.373366e-01,2.196538e-01,2.076232e-01,1.968073e-01,1.902580e-01,1.920647e-01,...,3.681264e-01,3.630246e-01,3.521579e-01,3.423600e-01,3.301152e-01,3.189805e-01,3.027963e-01,2.849761e-01,2.649418e-01,2.419260e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.200000e-02,4.800000e-02,4.600000e-02,4.400000e-02,4.200000e-02,4.200000e-02,4.100000e-02,4.100000e-02,4.000000e-02,4.100000e-02,...,1.010000e-01,1.050000e-01,1.080000e-01,1.090000e-01,1.080000e-01,1.030000e-01,9.200000e-02,7.900000e-02,6.700000e-02,5.800000e-02
50%,9.800000e-02,8.800000e-02,8.100000e-02,7.700000e-02,7.400000e-02,7.200000e-02,7.100000e-02,7.000000e-02,7.000000e-02,7.100000e-02,...,2.010000e-01,2.050000e-01,2.070000e-01,2.070000e-01,2.030000e-01,1.950000e-01,1.780000e-01,1.580000e-01,1.340000e-01,1.130000e-01
75%,1.910000e-01,1.680000e-01,1.500000e-01,1.380000e-01,1.300000e-01,1.250000e-01,1.220000e-01,1.200000e-01,1.190000e-01,1.220000e-01,...,3.900000e-01,3.890000e-01,3.820000e-01,3.750000e-01,3.630000e-01,3.490000e-01,3.230000e-01,2.940000e-01,2.580000e-01,2.210000e-01
max,7.272000e+00,8.717000e+00,8.025000e+00,8.750000e+00,8.414000e+00,8.591000e+00,7.357000e+00,7.676000e+00,7.581000e+00,7.568000e+00,...,8.833000e+00,9.141000e+00,8.998000e+00,9.189000e+00,8.539000e+00,9.257000e+00,7.819000e+00,8.051000e+00,7.769000e+00,8.411000e+00

In [ ]:
#
#df = pd.wide_to_long(df_merged, stubnames = "hh_", i = ['day', 'LCLid'], j = "hh").sort_values(["day", "hh"]).reset_index()

In [6]:
# Unique Number of Sensor meters
ids = pd.DataFrame(df_merged['LCLid'].unique()).sample(n = 500)
ids.columns = ['id']

df = df_merged.loc[df_merged['LCLid'].isin(ids["id"])]
df.head()

,LCLid,day,hh_0,hh_1,hh_2,hh_3,hh_4,hh_5,hh_6,hh_7,...,hh_38,hh_39,hh_40,hh_41,hh_42,hh_43,hh_44,hh_45,hh_46,hh_47
4754,MAC000566,2012-04-12,0.076,0.084,0.081,0.073,0.085,0.079,0.072,0.078,...,0.269,0.267,0.394,0.331,0.363,0.298,0.189,0.148,0.143,0.117
4755,MAC000566,2012-04-13,0.110,0.141,0.102,0.080,0.086,0.075,0.066,0.073,...,0.270,0.244,0.246,0.544,0.444,0.255,0.210,0.263,0.206,0.217
4756,MAC000566,2012-04-14,0.214,0.205,0.215,0.249,0.213,0.211,0.208,0.249,...,0.975,0.966,1.102,0.720,0.609,0.342,0.284,0.210,0.220,0.183
4757,MAC000566,2012-04-15,0.099,0.090,0.080,0.089,0.073,0.084,0.075,0.075,...,0.215,0.320,0.386,0.309,0.320,0.279,0.228,0.211,0.250,0.139
4758,MAC000566,2012-04-16,0.093,0.083,0.070,0.068,0.080,0.066,0.076,0.106,...,0.969,1.070,0.500,0.486,0.502,0.439,0.328,0.161,0.152,0.119

In [7]:
df = pd.wide_to_long(df, stubnames = "hh_", i = ['day', 'LCLid'], j = "hh").sort_values(["day", "hh"]).reset_index()

In [8]:
df.head()

          day      LCLid  hh    hh_
0  2011-11-29  MAC000199   0  0.062
1  2011-11-29  MAC000199   1  0.050
2  2011-11-29  MAC000199   2  0.059
3  2011-11-29  MAC000199   3  0.069
4  2011-11-29  MAC000199   4  0.057

In [9]:
# import time lookup
lookup = pd.read_csv(data_path + "/time-lookup.csv", sep = ",")
lookup.head()

FileNotFoundError: [Errno 2] No such file or directory: '/workspace/portfolio/data/time-lookup.csv'

In [10]:
df.columns = ['day', 'unique_id', ]
check = tsfeatures(df)

KeyError: 'unique_id'